* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 80px;
}

header {
	background-color: Gainsboro;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}

nav {
  height: 50px;
}

h1 {
	font-family: Arial;
	font-size: 30px;
}

.title {
  position: absolute;
	display: inline-block;
	left: 10px;
  top: 6px;
  margin: 0px;
}

.links {
	position: absolute;
	right: 10px;
  top: 10px;
  margin: 0px;
}

ul {
	display: inline-block;
}

li {
	display: inline-block;
	margin-right: 20px;
	font-size: 25px;
}

a {
	text-decoration: none;
}

a:hover {
	color: purple;
}

.search {
	margin-bottom: 30px;
	display: block;
}

.search-bar {
	width: 400px;
	height: 30px;
}

.magnifying-glass {
	height: 30px;
}

.page-buttons {
	display: inline-block;
	font-size: 0;
	border: 1px solid black;
	padding: 8px;
	margin-bottom: 30px;
}

.pages-button {
	font-size: 16px;
	padding: 0px 15px;
	color: black;
}

.pages-display {
	font-size: 16px;
	padding: 0px 20px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.listings{
	padding: 0;
}

.listing {
	font-size: 20px;
	display: block;
	margin-bottom: 15px;
	color: Gainsboro;
}

.listing-title {
	margin-left: 10px;
	margin-right: 10px;
	color: blue;
}

.magnifying-glass {
	vertical-align: bottom;
}
